.watch {
  display: flex;
  align-items: center;
  gap: 16rem;

  &-btn {
    font-weight: 500;
    font-size: 16rem;
    line-height: 125%;
    color: var(--white);
    padding: 17rem 24rem;
    background: var(--purple);
    border-radius: 14rem;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54rem;
    height: 54rem;
    border-radius: 14rem;
    padding: 15rem;
    background: var(--bg-icon);
    backdrop-filter: blur(5.92593px);
  }
  &-icon path  {
    stroke: var(--purple);
  }
}
